* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

input {
    border: none;
    outline: 0;
    box-shadow: none;
}

button {
    border: none;
}

li {
    padding-left: 6px;
    list-style: none;
    border-bottom: solid 1px black;
}

body {
    height: 200vh;
    background-image: linear-gradient(to bottom, white, rgb(194, 194, 194));
}

#header {
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: #FFE600;
    box-shadow: 0 0 3px black;
}

#data {
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 32px;
}

#seta {
    transition: 500ms;
    width: 50px;
    height: 50px;
}

.rotate {
    transform: rotate(180deg);
}

#slider {
    display: none;
    top: 50.9px;
    position: absolute;
    background-color: #919191;
    width: 18%;
    height: calc(100vh - 52px);
    max-height: 100vh;
    box-shadow: 0 2px 4px black;
}

.liMeses {
    background-color: whitesmoke;
    text-align: center;
    border-bottom: solid 1px black;
}

.liMeses:hover {
    background-color: #FFE600;
}

#main {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 60%;
    box-shadow: 0 0 20px -8px black;
    height: 500px;
    border-radius: 10px;
}

.main_squares {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border: solid 1px;
}

.stt {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mid {
    border-left: none;
    border-right: none;
    overflow: auto;
}

.novoLi:hover {
    background-color: #FFE600;
    color: rgb(149, 0, 0);
    text-decoration: line-through;
}

.end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#positivos {
    width: 100%;
    height: 100%;
    border-bottom: solid 1px black;
    border-top-left-radius: 9px;
}

#negativos {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 9px;
}

#mesSelecionado {
    background-color: #FFE600;
    display: block;
    text-align: center;
    font-size: 23px;
    line-height: 27px;
    height: 30px;
    border-bottom: solid 1px black;
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    width: 90%;
}

.for_inputs {
    background-color: #e9e9e9;
    text-align: center;
    height: 30px;
    border: solid 1px black;
}

.for_inputs::placeholder {
    color: black;
}

.inpDescricao {
    border-top: none;
    border-bottom: none;
}

.inpDia {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.inpValor {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.for_button {
    display: inline-block;
    background-color: #a8a8a8;
    height: 40px;
    border: solid 1px black;
    margin-top: 5px;
    transition: 100ms;
}

.for_button:hover {
    background-color: #919191;
}

#totalPositivo {
    text-align: center;
    margin-top: 5px;
    font-size: 35px;
}

#totalNegativo {
    text-align: center;
    margin-top: 5px;
    font-size: 35px;
}

#endSquare {
    display: flex;
    flex-direction: column-reverse;
}

#saldo {
    border-bottom-right-radius: 9px;
    border-top: solid 1px black;
    text-align: center;
    font-size: 60px;
    width: 100%;
    height: 100px;
    transition: 1.5s;
}

.textoSaldo {
    text-align: center;
    border-top: solid 1px black;
    height: 25px;
    background-color: #FFE600;
}

#excluirDadosMes {
    background-color: #e4e4e4;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 45px;
    margin-top: 30px;
}

#excluirDadosMes:hover {
    color: red;
    text-decoration: underline;
}


#excluirTodosDados {
    background-color: #e4e4e4;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 45px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#excluirTodosDados:hover {
    color: red;
    text-decoration: underline;
    text-decoration: underline;
}

.telaDeConfirmacao {
    position: absolute;
    top: 0;
    bottom: 100px;
    right: 0;
    left: 0;
    margin: auto;
    border: solid 1px black;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 400px;
    height: 200px;
    display: none;
    flex-direction: column;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.confirmacaoPai {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: auto;
}

.BTNConfirmacao {
    background-color: white;
    border: solid 1px black;
    margin-bottom: 30px;
    width: 120px;
    border-radius: 3px;
}

.BTNConfirmacao:hover {
    background-color: #FFE600;
}

@media screen and (max-width: 1400px) {

    body{
        height: 120vh;
    }

    #saldo {
        font-size: 30px;
        line-height: 90px;
    }


}

@media screen and (max-width: 900px) {

    body{
        background-image: none;
        background-color: whitesmoke;
        height: 100%;
    }

    #saldo {
        font-size: 20px;
        line-height: 90px;
    }

    #slider {
        display: none;
        top: 50.9px;
        position: absolute;
        background-color: #919191;
        width: 50%;
        height: calc(100vh - 52px);
        max-height: 100vh;
        box-shadow: 0 2px 4px black;
    }
}

@media screen and (max-width: 500px) {

    body{
        background-image: none;
        background-color: whitesmoke;
        height: 230vh;
    }

    #slider {
        display: none;
        top: 50.9px;
        position: absolute;
        background-color: #919191;
        width: 50%;
        height: calc(100vh - 52px);
        max-height: 100vh;
        box-shadow: 0 2px 4px black;
    }

#header {
    width: 100%;
    height: 50px;
    background-color: #FFE600;
    box-shadow: 0 0 3px black;
}

#main{
    display: block;
    box-shadow: none;
}


#data{
   font-size: 19px;
   line-height: 50px;
}

.stt {
    display: flex;
    flex-direction: column;
  border-radius: 0px;
}

.mid {
    border: solid 1px;
    border-top: none;
    border-bottom: none;
    overflow: auto;
}

.end {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



}